
  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400&family=Poppins:wght@100;500;600;700&display=swap');
:root{
--primary-color: #a855f7;
--primary-color-dark:#9333ea;
--secondary-color: #ca8a04;
--text-dark: #1f2937;
--text-light: #6b7280;
--extra-light:#faf5ff;
--text-color:#fff;
--big-font: 3.6rem;
--h2-font: 2.26rem;
--p-font:1.1rem;

}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', 'sans-serif';
}

/*navigation*/
nav {
    background-color: #f8f9fa;
    padding: 20px 0;
    position: sticky;
    top: 0;
}
.logo {
    max-width: 170px;
    margin-left: 10%;
}
ul {
    float: right;
    list-style-type: none;
}
li {
    display: inline-block;
    margin-right: 30px;
    margin-top: 25px;
}
.btn.btn-primary{
    background-color: #9333ea;
    border-color: #9333ea;
}
.btn.btn-primary:hover {
    background-color: purple;
    border-color: purple;
}

/*home*/
section{
    padding: 75px 16.7%;
}
.home{
    width: 100%;
    min-height: 95vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid: 5rem;
    align-items: center;
    padding: 50px 16.7%;
}
.home-img img{
    max-width: 65%;
    height: auto;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 5%;
}
.home-text h1{
    font-size: 2.3rem;
    margin-bottom: 15px;
    color: #9333ea;
}
.home-text p{
    max-width: 100%;
    width: 430px;
    font-size: 18x;
    line-height: 1.4;
    margin-bottom: 20px;
    color: var(--text-light);
}
.name{
    font-size: 15px;
    font-style: italic;
    color: var(--text-light);
}
.btn.btn-info{
    background-color: beige;
    border-color: #9333ea;
}
.btn.btn-info:hover {
    background-color: purple;
    border-color: purple;
}

/*about*/
.about{
    background-color: #f4f4f9;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
   
    align-items: center;
    padding-top: 100px;
    padding: 30px 16.7%;
}
.about-img img{
    max-width: 100%;
    height: auto;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 5%;
}
.about-text h2{
    color: #9333ea;
    margin-bottom: 15px;
}
.about-text p{
    font-size: var(--p-font);
    color: var(--text-light);
    line-height: 1.4;
    margin-bottom: 15px;
    text-align: justify;
}

/*skills*/
.skills{
    background-color: #f4f4f9;
    padding: 5rem 10rem;
}
.skills h2{
    color: #9333ea;
    text-align: center;
    margin-bottom: 15px;
}
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container {
    flex: 0 0 calc(25% - 10px);
    margin-bottom: 20px; 
    text-align: center; 
}
.container img {
    max-width: 80%;
    margin-top: 10px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.container p {
    margin-top: 5%; 
}

/*projects*/
.projects h1{
    color: #9333ea;
}
.container-proj{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f4f4f9;
    margin: 70px auto 0;
    padding: 2rem 1.5rem;
    border-radius: 5px;
    box-shadow: 0 25px 25px -10px rgba(0,0,0.5);
}

.container-proj img{
    width: 100%;
    max-width: 100%;
    height: auto;
    top: 0; 
    padding-right: 10px;
}

.container-proj img:hover{
    transform: scale(1.2) translateX(10px);
    transition: .5s;
   
}
.container-proj h3{
    color: var(--text-dark);
    
}
.container-proj p{
    color: var(--text-light);
    
}
.btn-github {
    font-size: 17px;
    padding: 5px 13px;
    text-decoration: underline;
    color: var(--primary-color-dark);
}
.btn-github:hover{
    cursor: pointer;
}
.descript a{
    background: transparent;
    
}

/*login*/
.content{
    padding: 100px;
}

/*contact*/
.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 16.7%;
    text-align: center;
    background-color:  #f4f4f9;
}
.contact-desc {
    max-width: 100%;
    margin-bottom: 20px;
}
.contact-desc h2{
    color: var(--primary-color-dark);
}
.contact-desc p{
    color: var(--text-dark);
}
.contact-desc .p-con{
    color: #6b7280;
}
.contact-img img {
    max-width: 100%;
    height: auto;
}

/*footer*/
.footer{
    background-color: var(--primary-color);
}
.footer .copyright{
    color: var(--text-dark);
    text-align: center;
    padding: 10px 16.7%;
}
